.Main {
    height: max-content;
    background-color: white;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 350px;
    margin: 50px;
}

.Main:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.35)
}

.Title {
    margin-top: 8px;
    font-size: 26px;
    color: black;
    font-weight: 500;
    margin-bottom: 0px;
}

.String {
    margin-top: 4px;
    font-size: 16px;
    color: #373741;
    font-weight: 400;
}

.Image {
    margin: auto;
    display: flex;
    height: auto;
    max-height: 350px;
    width: 100%;
}

.Bar {
    width: 300px;
    background-color: gray;
    height: 1px;
    border: none;
    margin: 0px auto;
}

.CardContent {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #ececec;
}

.Links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Links button{
    cursor: pointer;
    border: 2px rgb(184, 7, 7) solid;
    border-radius: 3px;
    background-color: transparent;
    color: rgb(184, 7, 7);
    font-size: 18px;
    outline: none;
    margin: 5px;
    height: 100%;
    padding: 5px;
    font-weight: 500;
}

.Links button:hover {
    filter: brightness(130%);
}

@media screen and (max-width: 400px) {
    .Main {
        width: 300px;
        margin: 25px auto;
    }

    .Bar {
        width: 250px;
    }

    .Links button {
        font-size: 14px;
    }
}