.App {
  text-align: center;
}

.SectionOne {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(Images/tripImage3.JPG);
    background-size: cover;
    background-position: -0px;
    background-attachment: fixed;
    height: 100vh;
}

.MainImage {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  filter: brightness(70%);
}

.MainImageText {
  top: 35%; 
  left: 34%;
  position: absolute; 
  display: inline-block;
}

.MainImageText span {
  font-size: 5vw;
  font-weight: 700;
  color: white;
  filter: brightness(90%);
  text-shadow: 1px 1px #373741;
}

.MainImageText p {
  font-size: 2vw;
  font-weight: 600;
  color: white;
  filter: brightness(90%);
  width: 55vw;
  margin-left: -10vw;
  text-align: center;
  text-shadow: 1px 1px #373741;
}

.fadeOutOne {
  opacity:0;
}

.fadeInOne {
  opacity:1;
  transition: opacity 1s;
  width: 0px;
}

.TopButtons {
  display: inline-block;
}

.TopButtonsButtonNoShow {
  opacity:0;
}


.TopButtonsButtonShow {
  height: '50px';
  background-color: 'transparent';
  border-color: "transparent";
  top: 2vh;
  position: absolute;
  cursor: pointer;
  filter: brightness(90%);

  opacity:1;
  transition: opacity 1s;
  width: 0px;
}

.TopButtonsButtonShow:hover {
  filter: brightness(100%);
}

.TopButtonsButtonShow:focus {
  outline: none;
}

.DownButton {
  height: '50px';
  background-color: 'transparent';
  border-color: "transparent";
  margin-top: calc(100vh - 60px);;
  margin-left: 50vw;
  cursor: pointer;
  filter: brightness(90%);
}

.DownButton:hover {
  filter: brightness(100%);
}

.DownButton:focus {
  outline: none;
}

.SectionTwo {
  /* margin-top: 100vh; */
  width: 100vw;
  height: 100vh;
  background-color: violet;
}