.App {
  text-align: center;
}

.SectionOne {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(Images/tripImage3.JPG);
    background-size: cover;
    background-position: -0px;
    background-attachment: fixed;
    height: 100vh;
}

.MainImageText {
  top: 35%; 
  left: 37%;
  position: absolute; 
  display: inline;
}

.MainImageText span {
  font-size: 4vw;
  font-weight: 700;
  color: white;
  filter: brightness(90%);
  text-shadow: 1px 1px #373741;
}

.fadeOutOne {
  opacity:0;
}

.fadeInOne {
  opacity:1;
  transition: opacity 1s;
  width: 0px;
}

.TopButtons {
  top: 2vh;
  height: 100px;
  width: 100%;
  position: fixed;
}

.TopButtonsButtonShow {
  top: 2vh;
  position: fixed;
  cursor: pointer;
  filter: brightness(90%);
  margin-left: 40px;
  background-color: transparent;
  border-color: transparent ;
}

.HireMeButton {
  height: 45px;
  width: 120px;
  background-color: rgb(25, 175, 340);
  border: 1px rgb(25, 175, 225) solid;
  border-radius: 8px;
  color: white;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 800;
}

.HireMeButton:hover {
  filter: brightness(115%);
}

.HireMeButton:focus {
  outline: none;
}

a:nth-child(2) .TopButtonsButtonShow {
  margin-left: 120px;
}

.TopButtonsButtonShow:hover {
  filter: brightness(120%);
}

.TopButtonsButtonShow:focus {
  outline: none;
}

.DownButton {
  height: '50px';
  background-color: 'transparent';
  border-color: "transparent";
  margin-top: calc(100vh - 60px);;
  margin-left: calc(50vw - 26px);
  cursor: pointer;
  filter: brightness(90%);
}

.DownButton:hover {
  filter: brightness(100%);
}

.DownButton:focus {
  outline: none;
}

.SectionTwo {
  width: 100vw;
  height: max-content;
  min-height: 100vh;
  padding-bottom: 10px;
  background-color: #ececec;
}

.MyInfoSection {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */

  display: grid;
  grid-template-columns: 25% 48%;
  margin-left: 22%;
  margin-bottom: 5vh;
  height: 100%;
}

.ProfileImage {
  height: 10vw;
  min-height: 100px;
  width: auto;
  border-radius: 50%;
  border: 1px #e7e7e7 solid;
}

.MyInfoName {
  width: 100%;
  font-size: calc(2.4vw + 10px);
  font-weight: 700;
  color: #373741;
  text-align: left;
  width: 60%;
}

.MyInfoStatus {
  font-size: calc(1.2vw + 10px);
  font-weight: 700;
  color: #373741;
}

.DownloadResumeButton {
  width: 200px;
  font-size: calc(.5vw + 10px);
  border: 1px #373741 solid;
  color: #373741;
  font-weight: 500;
  cursor: pointer;
  margin-top: -10px;
  background-color: #ececec;
}

.DownloadResumeButton:hover {
  filter: brightness(103%);
}

.DownloadResumeButton:focus {
  outline: none;
}

.MyInfoSectionText {
  font-size: calc(.5vw + 10px);
  line-height: 30px;
}

.MyInfoSectionTextTitle {
  line-height: 30px;
  font-weight: 700;
  font-size: 1.5vw;
  margin-top: -30px;
}

.MyInfoSectionTimelineLeft{
  display: grid;
  grid-template-columns: 80% 20%;
  height: 200%;
}

.MyInfoSectionTimelineLeftLeftSide {
  display: grid;
  grid-template-rows: 12% 0% 20%;
  border-right: 4px #373741 solid;
  height: 50%;
}

div:nth-child(4) .MyInfoSectionTimelineLeftLeftSide {
  height: 70%;
  display: grid;
  grid-template-rows: 20% 15% 12%;
}

.MyInfoSectionTimelineLeftLeftSide img {
  margin-left: auto;
  margin-right: -33px;
  margin-top: -10px;
  border-radius: 50%;
  height: 60px;
}

.SectionThree {
  height: max-content;
  background-color: rgb(80, 124, 159);
  width: 100vw;
  display: grid;
  grid-template-rows: 20% 80%;
}

.SectionThreeTitle {
  color: white;
  width: 100vw;
  position: absolute; 
  display: inline;
  text-align: center;
  font-size: calc(3vw + 10px);
  font-weight: 700;
  text-shadow: 1px 1px #373741 ;
  margin-top: 5vh;
}

.FavoritesCards {
  margin-top: 20vh;
  height: max-content;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Footer {
  height: 65px;
  width: 100vw;
  background-color: #373741;
  display: flex;
}

.Footer span {
  width: 80%;
  margin-left: 10%;
  font-size: 18px;
  color: white;
  position: absolute; 
  display: inline;
  text-align: center;
  vertical-align: middle;
  align-self: flex-end;
  margin-bottom: 22px;
}

.Footer span em {
  font-weight: 600;
  font-style: normal;
}




@media screen and (max-width: 1500px) {
  .SectionOne {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(Images/tripImage3.JPG);
    background-size: auto 100%;
    background-position: -0px;
    background-attachment: scroll;
    height: 100vh;
  }

  .MyInfoSectionText {
    font-size: calc(.5vw + 10px);
    line-height: 18px;
  }

  .MainImageText {
    top: 35%; 
    left: 27%;
    position: absolute; 
    display: inline;
  }

  .MainImageText span {
    font-size: 7vw;
  }

  .TopButtons {
    position: absolute;
  }

  .TopButtonsButtonShow {
    position: relative;
    top: 0px;
    margin-left: 20px;
  }

  a:nth-child(2) .TopButtonsButtonShow {
    margin-left: 20px;
  }

  .ProfileImage {
    margin-left: 50px;
  }

  .MyInfoSection {
    display: grid;
    grid-template-columns: 100%;
    width: 90%;
    margin-left: 5%;
    
  }

  .MyInfoSectionTextTitle {
    line-height: 30px;
    /* font-weight: 700; */
    font-size: calc(1.5vw + 10px);
    /* margin-top: -30px; */
  }

  .MyInfoSection span {
    margin-left: 50px;
  }

  .MyInfoSectionTimelineLeftLeftSide {
    display: grid;
    grid-template-rows: 15% 0% 8%;
    border-left: 4px #373741 solid;
    border-right: none;
    height: 180%;
    margin-left: 20px;
  }

  div:nth-child(4) .MyInfoSectionTimelineLeftLeftSide {
    height: 250%;
    display: grid;
    grid-template-rows: 12% 0% 6%;
  }

  .MyInfoSectionTimelineLeftLeftSide span {
    margin-left: 50px;
  }

  .MyInfoSectionTimelineLeftLeftSide img {
    margin-left: -33px;
    border-radius: 50%;
    height: 60px;
  }

  .MyInfoSectionTimelineLeft{
    display: grid;
    grid-template-columns: 100%;
    height: 100%;
  }

  .DownloadResumeButton {
    margin-left: 25%;
  }
}